
body {
margin: 0;
background: rgb(120, 238, 120);
display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
font-family: "Poppins", sans-serif;
 color:white;
}
.btn {
padding: 15px;
 border: none;
  color: yellow;
 font-weight: bold;
  background: rgb(1, 74, 1);
  border-radius: 15px; 
  transition: all 0.3s ease-in-out;
  }

 .btn:hover {
  background: rgb(1, 74, 1);
 color: white; 
 cursor: pointer;
 scale: 1.1;
  }
 
    .card {
  position: relative;
 display: flex;
  justify-content: center; 
  align-items: center;
  width: 150px;
 height: 150px;
  border-radius: 50%;
 box-shadow: 0  0 10px rgba(0, 0, 0, 0.5);
  background: rgb(17, 137, 61); 
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  }
.logo {
 width: 150px;height: 150px;


border-radius: 50%; 
 object-fit: cover;
 cursor: pointer;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
 transition: 0.5s ease-in-out;
 }
  card:hover .logo {
scale: 0;
}
.card:hover {
 border-radius: 15px;
width: 450px; 
height: 280px;
}
.text-section { 
     position: absolute;
top: 10px;
left: 20px;
 width: 180px;
opacity: 0;
 transition: all 0.3s ease-in-out;
 }
  .card:hover .text-section {
 opacity: 1; }

.bottle {
 position: absolute;
top: -20px;
right: -100px; 
 width: 450px;
 height: auto;
 object-fit: cover;
 opacity: 0;
rotate: 15deg;
transition: all 0.3s ease-in-out;
}
.card:hover .bottle{
opacity: 1;

}
